#
#	Device Driver
# Jeroen Elschot & Richard Olthuis
#
#
Module.symvers
modules.order
.tmp_versions
.main.ko.cmd
main.ko
main.mod.c
mani.mod.o
.main.mod.o.cmd
main.o
main.o.cmd
.frandom.o.cmd
main.o
frandom.o
.main.o.cmd
.gitignore~
src/main.mod.c
src/main.mod.o
src/main.o
src/main.ko
src/.main.ko.cmd
src/.main.mod.o.cmd
src/.main.o.cmd
Makefile~

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
